<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echowish.android_backgroud.dao.PostMapper">

    <resultMap id="postResultMapper" type="com.echowish.android_backgroud.pojo.post.Post">
        <id property="postId" column="post_id"></id>
        <result property="userId" column="user_id"></result>
        <result property="title" column="title"></result>
        <result property="zone" column="zone"></result>
        <result property="content" column="content"></result>
        <result property="reward" column="reward"></result>
        <result property="postImage" column="post_image"></result>
        <result property="time" column="time"></result>
        <result property="visits" column="visits"></result>
        <result property="collections" column="collections"></result>
    </resultMap>

    <resultMap id="detailPostResultMapper" type="com.echowish.android_backgroud.pojo.post.DetailPost">
        <id property="postId" column="post_id"></id>
        <result property="userId" column="user_id"></result>
        <result property="title" column="title"></result>
        <result property="zone" column="zone"></result>
        <result property="content" column="content"></result>
        <result property="reward" column="reward"></result>
        <result property="postImage" column="post_image"></result>
        <result property="time" column="time"></result>
        <result property="name" column="name"></result>
        <result property="headImage" column="head_image"></result>
        <result property="visits" column="visits"></result>
        <result property="collections" column="collections"></result>
    </resultMap>

    <resultMap id="partPostResultMapper" type="com.echowish.android_backgroud.pojo.post.PartPost">
        <id property="postId" column="post_id"></id>
        <result property="title" column="title"></result>
        <result property="zone" column="zone"></result>
        <result property="content" column="content"></result>
    </resultMap>

    <resultMap id="myPublishPostResultMapper" type="com.echowish.android_backgroud.pojo.post.MyPublishPost">
        <id property="postId" column="post_id"></id>
        <result property="title" column="title"></result>
        <result property="zone" column="zone"></result>
        <result property="content" column="content"></result>
        <result property="time" column="time"></result>
    </resultMap>

    <resultMap id="hotSearchResultMapper" type="com.echowish.android_backgroud.pojo.post.HotSearch">
        <result property="postId" column="post_id"></result>
        <result property="rank" column="my_rank"></result>
        <result property="title" column="title"></result>
    </resultMap>



    <insert id="insertPost" parameterType="com.echowish.android_backgroud.pojo.post.Post">
        insert into post(post_id,user_id,title,zone,content,reward,post_image,`time`)
        values(#{postId},#{userId},#{title},#{zone},#{content},#{reward},#{postImage},#{time})
    </insert>


    <select id="queryImageByPostId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select  post_image from post  where post_id=#{postId}
    </select>

    <delete id="deleteByPostId" parameterType="java.lang.Integer">
        delete from post where post_id=#{postId};
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from post where user_id=#{userId};
    </delete>

    <select id="queryPost" resultMap="postResultMapper" parameterType="java.lang.Integer">
        select *from post where post_id=#{postId};
    </select>

    <select id="queryDetailPost" resultMap="detailPostResultMapper" parameterType="java.lang.Integer">
        select *from post left join user on post.user_id =user.user_id where post_id=#{postId};
    </select>

    <select id="queryPostTitleByPostId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select title from post where post_id=#{postId};
    </select>

    <select id="queryAllPartPost" resultMap="partPostResultMapper">
        select post_id,title,zone,content from post;
    </select>

    <select id="querySomePartPost" resultMap="partPostResultMapper">
        select post_id,title,zone,content from post ORDER BY `time` limit #{start},#{end};
    </select>

    <select id="queryAllPartPostByZone" resultMap="partPostResultMapper" parameterType="java.lang.String">
        select post_id,title,zone,content from post  where zone=#{zone};
    </select>

    <select id="queryAllPartPostByKeyword" resultMap="partPostResultMapper" parameterType="java.lang.String">
        select post_id,title,zone,content from post  where title like '%${keyword}%' or content like '%${keyword}%';
    </select>

    <select id="queryAllPartPostByZoneAndKeyWord" resultMap="partPostResultMapper">
        select post_id,title,zone,content from post  where (title like '%${keyword}%' or content like '%${keyword}%') and zone=#{zone};
    </select>

    <select id="queryMyPublishPostByUserId" resultMap="myPublishPostResultMapper">
        select post_id,title,zone,content,time from post  where user_id=#{userId};
    </select>

    <select id="queryMyPostIdByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select post_id from post where user_id=#{userId};
    </select>

    <select id="queryAllPost" resultMap="postResultMapper">
        select * from post;
    </select>

    <update id="updatePostVisits" parameterType="java.lang.Integer">
        update post set visits=visits+1 where post_id=#{postId};
    </update>

    <update id="updatePostCollections" parameterType="java.lang.Integer">
        update post set collections=collections+1 where post_id=#{postId};
    </update>

    <select id="getHotSearch" resultMap="hotSearchResultMapper" parameterType="java.lang.Integer">
        SELECT post_id,`title`,rank()over(ORDER BY `time` DESC)AS my_rank FROM post LIMIT 0,#{my_num};
    </select>


</mapper>