<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echowish.android_backgroud.dao.PreConcernMapper">
    <resultMap id="preConcernResultMapper" type="com.echowish.android_backgroud.pojo.preconcern.PreConcern">
        <result property="hostId" column="host_id"></result>
        <result property="friId" column="fri_id"></result>
    </resultMap>

    <resultMap id="myPreConcernResultMapper" type="com.echowish.android_backgroud.pojo.preconcern.MyPreConcernRequest">
        <result property="hostId" column="host_id"></result>
        <result property="friId" column="fri_id"></result>
        <result property="name" column="name"></result>
        <result property="headImage" column="head_image"></result>
    </resultMap>


    <insert id="insertPreConcern" >
        insert into preconcern values(#{hostId},#{friId});
    </insert>

    <delete id="cancelPreConcern">
        delete from preconcern where host_id=#{hostId} and fri_id=#{friId};
    </delete>

    <delete id="deleteByFriIdOrHostId" parameterType="java.lang.Integer">
        delete  from  preconcern where host_id=#{userId} or fri_id=#{userId};
    </delete>

    <select id="queryIsPreConcern" resultMap="preConcernResultMapper">
        select * from  preconcern where host_id=#{hostId} and fri_id=#{friId};
    </select>

    <select id="queryAllMyPreConcern" resultMap="myPreConcernResultMapper">
        SELECT host_id,fri_id,`name`,head_image FROM   preconcern LEFT JOIN `user` ON preconcern.host_id=`user`.user_id WHERE fri_Id=#{hostId};
    </select>

</mapper>