<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.echowish.android_backgroud.dao.UserMapper">
    <resultMap id="userResultMapper" type="com.echowish.android_backgroud.pojo.User">
        <id property="userId" column="user_id"></id>
        <result property="account" column="account"></result>
        <result property="password" column="password"></result>
        <result property="name" column="name"></result>
        <result property="sex" column="sex"></result>
        <result property="grade" column="grade"></result>
        <result property="campus" column="campus"></result>
        <result property="headImage" column="head_image"></result>
    </resultMap>


    <insert id="insertUser" parameterType="com.echowish.android_backgroud.pojo.User">
        insert into user(user_id,account,password)
        values (#{userId},#{account},#{password});
    </insert>

    <select id="queryUserByAccount" parameterType="java.lang.String" resultMap="userResultMapper">
         select * from `user` where account=#{account};
    </select>

    <select id="queryAccountNumsByAccount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from  `user` where account=#{account};
    </select>

    <select id="queryUserByUserId" resultMap="userResultMapper" parameterType="java.lang.Integer">
        select * from `user` where user_id=#{userId};
    </select>

    <select id="queryImageByUserId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select head_image from `user` where user_id=#{userId};
    </select>

    <update id="updateImageByUserId">
        update `user` set head_image=filename where user_id=#{userId};
    </update>
</mapper>